*{
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height:100px;
}
nav{
    display: flex;
    margin-top: 10px;
    position: fixed;
    width: 100%;
}
.CabezeraIcono{
    display: flex;
    justify-content: first baseline;
}
.BarraLateral{
   display: flex;
   justify-content:right;
    
}
.cont1 {
    display: flex;
}